@import "tailwindcss";

@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --color-card-dark: #1c2430;
  --color-border-dark: #282f39;
  --color-footer-dark: #151b23;
  --color-error: #ba1a1a;

  --font-display: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #101822;
}
::-webkit-scrollbar-thumb {
  background: #282f39;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f4752;
}

.asset-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.25rem;
}
@media (min-width: 640px) {
  .asset-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (min-width: 1024px) {
  .asset-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
