@import 'tailwindcss';

@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --color-card-dark: #1c2430;
  --color-border-dark: #282f39;
  --color-footer-dark: #151b23;
  --color-error: #ba1a1a;

  --font-display: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #101822;
}
::-webkit-scrollbar-thumb {
  background: #282f39;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f4752;
}

.upload-queue-scroll::-webkit-scrollbar {
  width: 4px;
}

.justified-grid-gallery {
  --space: 4px;
  --min-height: 200px;
  --last-row-background: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.justified-grid-gallery > figure {
  flex-grow: calc(var(--width) * (100000 / var(--height)));
  flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
  aspect-ratio: var(--width) / var(--height);
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background: #1c2430;
  margin: 0 !important;
  padding: 0 !important;
}

.justified-grid-gallery > figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.justified-grid-gallery::after {
  content: " ";
  flex-grow: 1000000000;
  background: var(--last-row-background);
}
