@import "tailwindcss";

@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;
  --color-card-dark: #1c2430;
  --color-border-dark: #282f39;
  --color-footer-dark: #151b23;
  --color-error: #ba1a1a;

  --font-display: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #101822;
}
::-webkit-scrollbar-thumb {
  background: #282f39;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f4752;
}

.masonry-grid {
  column-count: 2;
  column-gap: 1rem;
}
@media (min-width: 640px) {
  .masonry-grid {
    column-count: 3;
  }
}
@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 4;
  }
}
@media (min-width: 1280px) {
  .masonry-grid {
    column-count: 5;
  }
}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
